[submodule "themes/detox"]
	path = themes/detox
	url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox.git
[submodule "themes/fresh"]
	path = themes/fresh
	url = https://github.com/lucperkins/hugo-fresh.git
